<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dh.annotation.MyAnnotation.dao.BookDao">
  <resultMap id="BaseResultMap" type="com.dh.annotation.MyAnnotation.entity.BookEntity">
    <!--@mbg.generated-->
    <!--@Table t_s_type-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
  </resultMap>
  <sql id="Base_Column_List">
   id ,book_name
  </sql>

  <select id="getBook" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from download_url limit 1
  </select>


</mapper>