<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dh.dao.Type2Dao">
  <resultMap id="BaseResultMap" type="com.dh.entity.Type">
    <!--@mbg.generated-->
    <!--@Table t_s_type-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="typecode" jdbcType="VARCHAR" property="typecode" />
    <result column="typename" jdbcType="VARCHAR" property="typename" />
    <result column="typepid" jdbcType="VARCHAR" property="typepid" />
    <result column="typegroupid" jdbcType="VARCHAR" property="typegroupid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, typecode, typename, typepid, typegroupid
  </sql>

  <select id="getTypeByCode" resultMap="BaseResultMap">
    select t.typecode, t.typename
    from t_s_type t
    join t_s_typegroup g
    on t.typegroupid = g.ID
    where g.typegroupcode = #{code}
  </select>

  <insert id="add" parameterType="com.dh.entity.Type">
    insert  into t_s_type ( ID, typecode, typename, typepid, typegroupid) values (#{id}, #{typecode}, #{typename}, #{typepid}, #{typegroupid})
  </insert>

</mapper>